asgiref==3.8.1
crispy-bootstrap4==2025.6
crispy-bootstrap5==2025.6
Django==5.2.1
django-allauth==65.9.0
django-crispy-forms==2.4
psycopg2-binary==2.9.9
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
